<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.example.memorygame">
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17"/>
   	<uses-permission android:name="android.permission.INTERNET"/>
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name="com.example.memorygame.MainActivity" android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.memorygame.FullscreenActivity" android:theme="@style/FullscreenTheme"/>
        <activity android:name="com.example.memorygame.about" android:theme="@style/FullscreenTheme"/>        
        <activity android:name="com.example.memorygame.FullScreenActivityWithNumbers" android:theme="@style/FullscreenTheme"></activity>
        <activity android:name="com.example.memorygame.onlynumbers" android:theme="@style/FullscreenTheme"></activity>
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>
    
</manifest>